*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,body{
    height: 100%;
    width: 100%;
}
#bg{
    height: 100%;
    width: 100%;
    background-color: white;
}


#nav{

    height: 100px;
    width: 100%;
   /* background-color: green;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;

}
#nav h3{
    font-size: 15px;
    border: 2px solid black;
    padding: 7px 12px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

#nav i{
    font-size: 15px;
    border: 2px solid black;
    padding: 7px 12px;
    border-radius: 50px;
}

#nav button{
    font-size: 15px;
    border: 2px solid black;
    padding: 7px 12px;
    border-radius: 50px;
    font-weight: 600;
    
    
}
#button2{
    border: none;
    color: white;
    background-color: orangered;
    

}

#mainbgtxt{
    font-size: 100px;

text-transform: uppercase;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
}

img{

    height: 400px;
    width: 250px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btmlft{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 15px;
}
#circle
{
    font-size: 100px;
    
   
    position: absolute;
    bottom: 1%;
    left: 30%;
    
   
}
#bottom i{
    
    position: absolute;
    bottom: -5%;
    left: 50%;
 
}